<!DOCTYPE html>
<html>
  <head>
    <title>Test account system</title>
  </head>
  <body>
    <h1>Error</h1>
    <p> status : <%= status %></p>
    <p> result : <%= err %></p>
    <br/>
    <br/>
    <a href="/">Home</a>
    <br/>
    <a href="/member/registerPage">Register</a>
  </body>
</html>
