<!DOCTYPE html>
<html>
  <head>
    <title>Test account system</title>
  </head>
  <body>
    <h1><%= title %></h1>


    
    <% if(hasLogin) { %>
      <br/>
      <br/>
      <a href="/member/updatePage">Update member information</a> 
      <br/>
      <br/>
      <a href="/product">See all products</a> 
      <br/>
      <br/>
      <a href="/product/orderedList">See ordered list.</a> 
      <br/>
      <br/>
      <a href="/member/logout">Logout</a> 
    <% } else { %> 
      <form name="form1" method="POST" action="/login">
        <table>
            <tr>
            <td>Email</td>
            <td><input type="text" name="email" ></td>
            </tr>
            <tr>
            <td>Password</td>
            <td><input type="text" name="password" ></td>
            </tr>
            <tr>
            <td colspan="2"><input type="submit" value="Login" ></td>
            </tr>
        </table>
        </form>
        <br/>
        <br/>
        <a href="/member/registerPage">Register</a>
    <% } %> 



  </body>
</html>
